[Desktop Entry]
Type=Application
Exec=/opt/helper/main.sh
Icon=/usr/share/pixmaps/icon.png
Name=Помогатор СГЭУ
Name[ru]=Помогатор СГЭУ
Categories=None;

